{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-8 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h2 class="text-center text-primary">
                        Are you sure want to Delete {{platformpassword.platform}} {{platformpassword.username}}
                    </h2>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <div class="text-right">
                            <input type="submit" value="Delete" class="btn btn-danger btn-sm">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}