{% extends 'base.html' %}


{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-8 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h2 class="text-center text-primary">
                        Platform Password Detail
                    </h2>
                    <ul>
                        <li>Platform: {{platformpassword.platform}} </li>
                        <li>Username: {{platformpassword.username}} </li>
                        <li>Email: {{platformpassword.email}} </li>
                        <li>Password: {{platformpassword.password}} </li>
                    </ul>
                    <div class="text-right">
                        <a href="{{ platformpassword.get_absolute_update_url }}" class="btn btn-warning">
                            Edit
                        </a>
                        <a href="{{ platformpassword.get_absolute_delete_url }}" class="btn btn-danger">
                            Delete
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}