{% extends 'base.html' %}



{% block content %}
<div class="container">
  <div class="row mt-5">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h2 class="text-center text-primary">Password List</h2>
          {% if platformpassword_list %}
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Platfom</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">View</th>
                <th scope="col">Change</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody>
              {% for password in platformpassword_list %}
              <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td> 
                  <a href="{{ password.get_absolute_url }}">{{password.platform.name}}</a>
                 </td>
                <td>{{password.username}}</td>
                <td>{{password.email}}</td>
                <td>
                  <a href="{{ password.get_absolute_url }}" class="btn btn-primary btn-sm">
                    View
                  </a>
                </td>
                <td>
                  <a href="{{ password.get_absolute_update_url }}" class="btn btn-warning btn-sm">
                    Edit
                  </a>
                </td>
                <td>
                  <a href="{{ password.get_absolute_delete_url }}" class="btn btn-danger btn-sm">
                    Delete
                  </a>
                </td>
              </tr>
              {% endfor %}

            </tbody>
          </table>
          {% else %}
          <h2 class="text-center">Please create a Password</h2>
          {% endif %}

          <div class="text-right my-5">
            <a class="btn btn-success btn-sm" href="{% url 'passwords:create' %}">
              Create a Password
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}