{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-8 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h2 class="text-center text-primary">

                        {% if object %}
                        Edit Platform Password
                        {% else %}
                        Create Platform Password
                        {% endif %}

                    </h2>
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <div class="text-right">
                            <input type="submit" value="Save" class="btn btn-success">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}